
.effect[data-name="bash"] sprite
{
	background-image: url('/effects/tileset_bash_240x240.png');
	visibility: hidden;
}


.effect[data-name="bash"] sprite.run
{
	animation-name: effect_bash;
	visibility: visible;
	
	animation-duration: 2400ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
	animation-fill-mode: forwards;
}

@keyframes effect_bash
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
	6.25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -0)	}
	12.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -0)	}
	18.75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -0)	}
	25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -0)	}
	31.25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -0)	}
	37.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -0)	}
	43.75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 7)) * -1 )   	calc(240px * -0)	}
	50% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 8)) * -1 )   	calc(240px * -0)	}
	56.25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 9)) * -1 )   	calc(240px * -0)	}
	62.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 10)) * -1 )   	calc(240px * -0)	}
	68.75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 11)) * -1 )   	calc(240px * -0)	}
	75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 12)) * -1 )   	calc(240px * -0)	}
	81.25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 13)) * -1 )   	calc(240px * -0)	}
	87.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 14)) * -1 )   	calc(240px * -0)	}
	93.75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 15)) * -1 )   	calc(240px * -0)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 15)) * -1 )   	calc(240px * -0)	}
}
