
.effect[data-name="heal"] sprite
{
	background-image: url('/effects/tileset_heal_240x240.png');
	visibility: hidden;
}


.effect[data-name="heal"] sprite.run
{
	animation-name: effect_heal;
	visibility: visible;
	
	animation-duration: 1950ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
	animation-fill-mode: forwards;
}

@keyframes effect_heal
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
	7.69% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -0)	}
	15.38% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -0)	}
	23.08% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -0)	}
	30.77% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -0)	}
	38.46% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -0)	}
	46.15% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -0)	}
	53.85% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 7)) * -1 )   	calc(240px * -0)	}
	61.54% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 8)) * -1 )   	calc(240px * -0)	}
	69.23% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 9)) * -1 )   	calc(240px * -0)	}
	76.92% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 10)) * -1 )   	calc(240px * -0)	}
	84.62% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 11)) * -1 )   	calc(240px * -0)	}
	92.31% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 12)) * -1 )   	calc(240px * -0)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 12)) * -1 )   	calc(240px * -0)	}
}
