
.effect[data-name="meteor"] sprite
{
	background-image: url('/effects/tileset_meteor_240x240.png');
	visibility: hidden;
}


.effect[data-name="meteor"] sprite.run
{
	animation-name: effect_meteor;
	visibility: visible;
	
	animation-duration: 1350ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
	animation-fill-mode: forwards;
}

@keyframes effect_meteor
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
	11.11% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -0)	}
	22.22% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -0)	}
	33.33% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -0)	}
	44.44% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -0)	}
	55.56% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -0)	}
	66.67% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -0)	}
	77.78% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 7)) * -1 )   	calc(240px * -0)	}
	88.89% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 8)) * -1 )   	calc(240px * -0)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 8)) * -1 )   	calc(240px * -0)	}
}
