
.effect[data-name="thunder"] sprite
{
	background-image: url('/effects/tileset_thunder_240x240.png');
	visibility: hidden;
}


.effect[data-name="thunder"] sprite.run
{
	animation-name: effect_thunder;
	visibility: visible;
	
	animation-duration: 2550ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
	animation-fill-mode: forwards;
}

@keyframes effect_thunder
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
	5.88% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -0)	}
	11.76% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -0)	}
	17.65% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -0)	}
	23.53% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -0)	}
	29.41% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -0)	}
	35.29% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -0)	}
	41.18% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 7)) * -1 )   	calc(240px * -0)	}
	47.06% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 8)) * -1 )   	calc(240px * -0)	}
	52.94% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 9)) * -1 )   	calc(240px * -0)	}
	58.82% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 10)) * -1 )   	calc(240px * -0)	}
	64.71% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 11)) * -1 )   	calc(240px * -0)	}
	70.59% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 12)) * -1 )   	calc(240px * -0)	}
	76.47% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 13)) * -1 )   	calc(240px * -0)	}
	82.35% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 14)) * -1 )   	calc(240px * -0)	}
	88.24% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 15)) * -1 )   	calc(240px * -0)	}
	94.12% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 16)) * -1 )   	calc(240px * -0)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 16)) * -1 )   	calc(240px * -0)	}
}
