.char-walk-s
{
	animation-name: char_walk_s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-walk-sw
{
	animation-name: char_walk_sw;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-walk-nw
{
	animation-name: char_walk_nw;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-walk-w
{
	animation-name: char_walk_w;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-walk-n
{
	animation-name: char_walk_n;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-walk-no
{
	animation-name: char_walk_no;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-walk-o
{
	animation-name: char_walk_o;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-walk-so
{
	animation-name: char_walk_so;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}

@keyframes char_walk_s
{
	0%   	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}
@keyframes char_walk_sw
{
	0%   	{ background-position: calc(((240px * (8 * 1)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 1)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}
@keyframes char_walk_w
{
	0%   	{ background-position: calc(((240px * (8 * 2)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 2)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}
@keyframes char_walk_nw
{
	0%   	{ background-position: calc(((240px * (8 * 3)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 3)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}
@keyframes char_walk_n
{
	0%   	{ background-position: calc(((240px * (8 * 4)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 4)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}
@keyframes char_walk_no
{
	0%   	{ background-position: calc(((240px * (8 * 5)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 5)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}
@keyframes char_walk_o
{
	0%   	{ background-position: calc(((240px * (8 * 6)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 6)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}
@keyframes char_walk_so
{
	0%   	{ background-position: calc(((240px * (8 * 7)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	12.5%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	25%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	37.5%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	50%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	62.5%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	75%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 6)) * -1 )   	calc(240px * -1)	}
	87.5%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 7)) * -1 )   	calc(240px * -1)	}
	100%  	{ background-position: calc(((240px * (8 * 7)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}

.char-stand-s
{
	background-position: calc(((240px * (1 * 0)) + (240px * 0)) * -1 )   	calc(240px * 0) !important;
}
.char-stand-w
{
	background-position: calc(((240px * (1 * 2)) + (240px * 0)) * -1 )   	calc(240px * 0) !important;
}
.char-stand-n
{
	background-position: calc(((240px * (1 * 4)) + (240px * 0)) * -1 )   	calc(240px * 0) !important;
}
.char-stand-o
{
	background-position: calc(((240px * (1 * 6)) + (240px * 0)) * -1 )   	calc(240px * 0) !important;
}

.char-wait-s,
.char-wait-w,
.char-wait-sw
{
	animation-name: char_wait_s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}

.char-wait-o,
.char-wait-so
{
	animation-name: char_wait_o;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-wait-n,
.char-wait-no,
.char-wait-nw
{
	animation-name: char_wait_n;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}

@keyframes char_wait_s
{
	0%   {   background-position: calc(((240px * (6 * 0)) + (240px * 0)) * -1 )   	calc(240px * -4)	}
	20%  {   background-position: calc(((240px * (6 * 0)) + (240px * 1)) * -1 )   	calc(240px * -4)	}
	40%  {   background-position: calc(((240px * (6 * 0)) + (240px * 2)) * -1 )   	calc(240px * -4)	}
	60%  {   background-position: calc(((240px * (6 * 0)) + (240px * 3)) * -1 )   	calc(240px * -4)	}
	80%  {   background-position: calc(((240px * (6 * 0)) + (240px * 4)) * -1 )   	calc(240px * -4)	}
	100%  {  background-position: calc(((240px * (6 * 0)) + (240px * 0)) * -1 )   	calc(240px * -4)	}
}
@keyframes char_wait_w
{
	0%   {   background-position: calc(((240px * (6 * 2)) + (240px * 0)) * -1 )   	calc(240px * -4)	}
	20%  {   background-position: calc(((240px * (6 * 2)) + (240px * 1)) * -1 ) 	calc(240px * -4)	}
	40%  {   background-position: calc(((240px * (6 * 2)) + (240px * 2)) * -1 ) 	calc(240px * -4)	}
	60%  {   background-position: calc(((240px * (6 * 2)) + (240px * 3)) * -1 ) 	calc(240px * -4)	}
	80%  {   background-position: calc(((240px * (6 * 2)) + (240px * 4)) * -1 ) 	calc(240px * -4)	}
	100%  {  background-position: calc(((240px * (6 * 2)) + (240px * 0)) * -1 )		calc(240px * -4)	}
}
@keyframes char_wait_n
{
	0%   {   background-position: calc(((240px * (6 * 4)) + (240px * 0)) * -1 )   	calc(240px * -4)	}
	20%  {   background-position: calc(((240px * (6 * 4)) + (240px * 1)) * -1 ) 	calc(240px * -4)	}
	40%  {   background-position: calc(((240px * (6 * 4)) + (240px * 2)) * -1 ) 	calc(240px * -4)	}
	60%  {   background-position: calc(((240px * (6 * 4)) + (240px * 3)) * -1 ) 	calc(240px * -4)	}
	80%  {   background-position: calc(((240px * (6 * 4)) + (240px * 4)) * -1 ) 	calc(240px * -4)	}
	100%  {  background-position: calc(((240px * (6 * 4)) + (240px * 0)) * -1 )		calc(240px * -4)	}
}
@keyframes char_wait_o
{
	0%   {   background-position: calc(((240px * (6 * 7)) + (240px * 0)) * -1 )   	calc(240px * -4)	}
	20%  {   background-position: calc(((240px * (6 * 7)) + (240px * 1)) * -1 ) 	calc(240px * -4)	}
	40%  {   background-position: calc(((240px * (6 * 7)) + (240px * 2)) * -1 ) 	calc(240px * -4)	}
	60%  {   background-position: calc(((240px * (6 * 7)) + (240px * 3)) * -1 ) 	calc(240px * -4)	}
	80%  {   background-position: calc(((240px * (6 * 7)) + (240px * 4)) * -1 ) 	calc(240px * -4)	}
	100%  {  background-position: calc(((240px * (6 * 7)) + (240px * 0)) * -1 )		calc(240px * -4)	}
}

.char-fight-s
{
	animation-name: char_fight_s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}

.char-attack-s
{
	animation-name: char_attack_s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}

.char-attack-w
{
	animation-name: char_attack_w;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-so
{
	animation-name: char_attack_so;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-sw
{
	animation-name: char_attack_sw;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-no
{
	animation-name: char_attack_no;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-s
{
	animation-name: char_attack_s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-o
{
	animation-name: char_attack_o;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-n
{
	animation-name: char_attack_n;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-nw
{
	animation-name: char_attack_nw;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-w
{
	animation-name: char_attack_w;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
.char-attack-sw
{
	animation-name: char_attack_sw;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}


@keyframes char_attack_s
{
	0%   	{ background-position: calc(((240px * (9 * 0)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}
@keyframes char_attack_w
{
	0%   	{ background-position: calc(((240px * (9 * 0)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 0)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}
@keyframes char_attack_so
{
	0%   	{ background-position: calc(((240px * (9 * 8)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 8)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}
@keyframes char_attack_o
{
	0%   	{ background-position: calc(((240px * (9 * 6)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}
@keyframes char_attack_no
{
	0%   	{ background-position: calc(((240px * (9 * 6)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}
@keyframes char_attack_n
{
	0%   	{ background-position: calc(((240px * (9 * 6)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 6)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}
@keyframes char_attack_nw
{
	0%   	{ background-position: calc(((240px * (9 * 3)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 3)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}
@keyframes char_attack_sw
{
	0%   	{ background-position: calc(((240px * (9 * 1)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
	12.5%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 1)) * -1 )   	calc(240px * -10)	}
	25%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 2)) * -1 )   	calc(240px * -10)	}
	37.5%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 3)) * -1 )   	calc(240px * -10)	}
	50%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 4)) * -1 )   	calc(240px * -10)	}
	62.5%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 5)) * -1 )   	calc(240px * -10)	}
	75%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 6)) * -1 )   	calc(240px * -10)	}
	87.5%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 7)) * -1 )   	calc(240px * -10)	}
	100%  	{ background-position: calc(((240px * (9 * 1)) + (240px * 0)) * -1 )   	calc(240px * -10)	}
}

.char-hit-s
{
	animation-name: char_hit_s;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.char-hit-so
{
	animation-name: char_hit_so;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.char-hit-sw
{
	animation-name: char_hit_sw;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.char-hit-n
{
	animation-name: char_hit_n;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.char-hit-nw
{
	animation-name: char_hit_nw;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.char-hit-no
{
	animation-name: char_hit_no;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.char-hit-o
{
	animation-name: char_hit_o;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.char-hit-w
{
	animation-name: char_hit_w;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}

@keyframes char_hit_s
{
	0%   	{ background-position: calc(((240px * (3 * 0)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 0)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 0)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 0)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}
@keyframes char_hit_so
{
	0%   	{ background-position: calc(((240px * (3 * 7)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 7)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 7)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 7)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}
@keyframes char_hit_o
{
	0%   	{ background-position: calc(((240px * (3 * 7)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 7)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 7)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 7)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}
@keyframes char_hit_no
{
	0%   	{ background-position: calc(((240px * (3 * 6)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 6)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 6)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 6)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}
@keyframes char_hit_no
{
	0%   	{ background-position: calc(((240px * (3 * 5)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 5)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 5)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 5)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}
@keyframes char_hit_nw
{
	0%   	{ background-position: calc(((240px * (3 * 2)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 2)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 2)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 2)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}
@keyframes char_hit_w
{
	0%   	{ background-position: calc(((240px * (3 * 1)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 1)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 1)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 1)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}
@keyframes char_hit_sw
{
	0%   	{ background-position: calc(((240px * (3 * 0)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	33.3%  	{ background-position: calc(((240px * (3 * 0)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	66.6%  	{ background-position: calc(((240px * (3 * 0)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	100%  	{ background-position: calc(((240px * (3 * 0)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
}


.char-dead-s,
.char-dead-o,
.char-dead-w,
.char-dead-n,
.char-dead-sw,
.char-dead-so,
.char-dead-no,
.char-dead-nw
{
	animation-name: char_dead_s;
	/*animation-duration: 750ms;*/
	/*animation-delay: 250ms;*/
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}
@keyframes char_dead_s
{
	100%  	{ background-position: calc(((240px * (3 * 0)) + (240px * 0)) * -1 )   	calc(240px * -8)	}
}


.char-cast-s,
.char-cast-w,
.char-cast-n,
.char-cast-w,
.char-cast-so,
.char-cast-sw,
.char-cast-no,
.char-cast-nw
{
	animation-name: char_cast_s;
	animation-duration: 1500s;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
@keyframes char_cast_s
{
	0%   	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -12)	}
	12.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -12)	}
	25%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -12)	}
	37.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -12)	}
	50%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -12)	}
	62.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
	75%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
	87.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
	100%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
}

.char-use-s,
.char-use-w,
.char-use-n,
.char-use-w,
.char-use-so,
.char-use-sw,
.char-use-no,
.char-use-nw
{
	animation-name: char_use_s;
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
@keyframes char_use_s
{
	0%   	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -12)	}
	12.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -12)	}
	25%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -12)	}
	37.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -12)	}
	50%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -12)	}
	62.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
	75%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
	87.5%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
	100%  	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -12)	}
}



.dmg.show
{
	animation-name: show_damage;
	animation-duration: 750ms;
	animation-delay: 250ms;
	animation-iteration-count: 1;
}
@keyframes show_damage
{
	0% {
		opacity: 0;
		left: 0;
	}
	10% {
		opacity: 0.5;
	}
	25% {
		top: -5px;
		left: -5px;
		opacity: 1;
		font-size: 30px;
	}
	50% {
		font-size: 35px;
	}
	75% {
		font-size: 40px;
	}
	100% {
		opacity: 0.5;
		font-size: 30px;
	}
}