@import "./animations";
@import "./mobs";

@font-face {
	font-family: 'BitPotion';
	src: url('/font/BitPotion.ttf') format('truetype');
}

@font-face {
	font-family: 'ThaleahFat';
	src: url('/font/ThaleahFat.ttf') format('truetype');
}

.clear
{
	clear: both;
}

.formrow input
{
	width: 70%;
}
.formrow button
{
	width: 30%;
}

*
{
	box-sizing: border-box;

	list-style: none;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
}

.w-100
{
	width: 100%;
}
.row
{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg-6
{
	flex: 0 0  50%;
	max-width: 50%;
	padding: 0 15px;
}

input, button, select
{
	padding: 1rem 2rem;
	float: left;
	font-size: 30px;
	margin: 1rem 0 0 0;

	transition: 250ms all ease-in-out;
}

button
{
	background: rgb(200,200,200);
	cursor: pointer;
}
button:hover
{
	background: rgb(230,230,230);
}

audio
{
	display: none;
}

body {
	margin: 0;
	padding-bottom: 3rem;
	font-size: 16px;
	font-family: 'BitPotion', 'ThaleahFat', Arial;
}

#form {
	background: rgba(0, 0, 0, 0.15);
	padding: 0.25rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	height: 3rem;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	z-index: 999;

	display: none;
}

#input {
	border: none;
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 2rem;
	margin: 0.25rem;
}

#input:focus {
	outline: none;
}

#form > button {
	background: #333;
	border: none;
	padding: 0 1rem;
	margin: 0.25rem;
	border-radius: 3px;
	outline: none;
	color: #fff;
}

hr
{
	margin: 1em 0;
	Background: rgba(255,255,255,0.25);
	height: 2px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages > li {
	padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
	background: #efefef;
}

#game
{
}

#game_start
{
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("/img/background.jpg") no-repeat;
	background-size: cover;
	font-size: 30px;
}

#game_over
{
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("/img/background.jpg") no-repeat;
	background-size: cover;
	font-size: 30px;

	line-height: 50vh;

	display: none;
}

#lobby
{
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("/img/background.jpg") no-repeat;
	background-size: cover;
	font-size: 30px;
}

#lobby > div
{
	width: 485px;
	margin: auto;
	backdrop-filter: blur(5px);
	padding: 2em;
	color: white;
	border: 2px solid rgba(255,255,255,0.25);
}

#lobby li
{
	list-style: initial;
	margin-left: 1em;
}

h1
{
	margin: 2rem 0 ;
	font-family: 'ThaleahFat', Arial;
	font-size: 75px;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.25);
}

footer
{
	position: fixed;
	text-align: center;
	width: 100%;
	padding: 1rem;
	bottom: 0;
	left: 0;
	color: white;
}

#login
{
	margin: 2rem auto;
	width: 485px;
	padding: 1em;
	backdrop-filter: blur(5px);
	text-align: center;
	border: 2px solid rgba(255,255,255,0.25);
}

#camera
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;
	pointer-events: none;

	height: 100dvh;
	width: 100dvw;
}
#camera .switch,
#camera .fullscreen
{
	font-size: 14px;
	padding: 0 1em;
	line-height: 1em;
	position: absolute;
	top: 2em;
	right: 1em;
	background: rgba(255,255,255, 0.5);
	text-shadow: 2px 2px 3px black;
	z-index:  9999;
	color: white;
}

#camera .fullscreen
{
	top: 3.5em;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: #888;
	transition: 250ms all linear;
}
#map canvas
{

}

#map div
{
	border: 1px solid rgba(0,0,0, 0.2);
}

#camera.player-2 #map
{
	left: -512px;
}

body {
	overflow: hidden;
}

#highlighter
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(255,255,255,0.2);
	transition: 250ms background linear;
	opacity: 0.5;
	pointer-events: none;
}
#targeter
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(20,180,20,0.2);
	transition: 250ms all linear;

	border-radius: 100%;
	opacity: 0.5;
	pointer-events: none;
}

div[id*="area_"]
{
	position: absolute;
	background: rgba(255,0,0,0.25);
	transition: 250ms linear all;
}

.area
{
	/*background: rgba(255, 255, 255, 0.2);*/
}

div.char,
div.monster,
div.emperium,
div.effect
{
	position: absolute;
	background-position: 0 0;

	/*transform: translate(calc(-50% + 32px), calc(-50% + 32px));*/
	transition: 250ms linear all;
	pointer-events: none;

	/*transform: translate(-50%, -50%) scale(0.7);*/
}

div sprite
{
	width: 240px !important;
	height: 240px !important;

	position: absolute;
	background-position: 0 0;

	transform: translate(calc(-50% + 32px), calc(-50% + 32px));
	transform: translate(calc(-50% + 16px), calc(-50% + 0px)) scale(0.75);
	/*transition: 250ms linear all;*/

	pointer-events: none; /* sprite is not clickable */
}

.upgrades
{
	display: none;
}
.defender_area
{
	cursor: pointer;
}
.defender_area .upgrades
{
	display: none;
	position: absolute;
	width: 100px;
	left: 100%;
	top: 0;
	color: white;
	backdrop-filter: blur(2px);
}
.defender_area .upgrades .upgrade
{
	font-size: 18px;
	text-transform: capitalize;
	padding: 0 0.5em;
	line-height: 1em;
	cursor: pointer;
	background: rgba(0,0,0,0.2);
	transition: 250ms all ease-in-out;
	z-index: 99999;
}
.defender_area .upgrades .upgrade:hover
{
	background: rgba(0,0,0,0.4);
}
.defender_area .upgrades .upgrade .cost
{
	margin-right: 0.5em;
}

#game.preperation .defender_area.show-upgrades .upgrades
{
	display: block;
}

#game.versus #map
{
	top: -512px;
}

/* mirror monster sprites */
.monster sprite.char-walk-o,
.monster sprite.char-walk-no,
.monster sprite.char-walk-so,
.monster sprite.char-wait-o,
.monster sprite.char-wait-no,
.monster sprite.char-wait-so,
.monster sprite.char-attack-o,
.monster sprite.char-attack-no,
.monster sprite.char-attack-so,
.monster sprite.char-hit-o,
.monster sprite.char-hit-no,
.monster sprite.char-hit-so
{
	transform: translate(calc(-50% + 16px), calc(-50% + 0px)) scale(-0.75, 0.75);
}

div.monster sprite
{

}
div.emperium sprite
{
	z-index: 100;
}
div.char sprite
{
}

.life,
.cast
{
	position: absolute;
	width: 100%;
	height: 4px;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.25);
	bottom: -14px;
}
.cast
{
	bottom: -10px;
}

.life .bar,
.cast .bar
{
	content: ' ';
	display: block;
	width: 100%;
	height: 4px;
	background: rgba(0,255,0,0.5);
}
.cast .bar
{
	background: rgba(0,0,255,0.5);

	width: 0; /*start empty*/
	transition-duration: 0ms;
	transition-timing-function: linear;
}

#game .defender_area
{
	position: absolute;
	background: rgba(0,0,0,0.25);
	margin: 1px;
	display: none;
}
#game .defender_area:hover
{
	background: rgba(0,0,0,0.5);
}

#game.preperation .defender_area
{
	display: block;
}

#map
{

}

#player_1,
#player_2
{
	position: fixed;
	position: absolute;
	left: 0;
	top: 0;
	width: 512px;
	line-height: 1rem;
	z-index: 999;
	backdrop-filter: blur(5px);
	display: table;
	padding: 0.5em 1em;

	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

#player_1 div,
#player_2 div
{
	display: table-cell;
}

#player_2
{
	left: 512px
}

.tile {
	position: absolute;
	background-image: url('/map_sommer.png');

	background-position: 0 0;

	transform: translate(-50%, -50%);

	width: 240px !important;
	height: 240px !important;
}

.dmg
{
	z-index: 999999;
	color: red;
	text-shadow: 1px 1px 3px black;
	font-weight: bold;
	font-size: 25px;
	font-family: 'BitPotion', Arial;
	position: absolute;
	top: -50%;
	left: 0;
	opacity: 0;

	pointer-events: none;
}

.dmg.heal
{
	color: #33AA33;
	text-shadow: 1px 1px 3px white;
}

.dg .c input
{
	font-size: 1rem;
}