
.monster[data-name="boss_chimera"] sprite
{
	background-image: url('/mobs/tileset_boss_chimera_240x240.png');
}


.monster[data-name="boss_chimera"] .char-dead-s,
.monster[data-name="boss_chimera"] .char-dead-o,
.monster[data-name="boss_chimera"] .char-dead-w,
.monster[data-name="boss_chimera"] .char-dead-n,
.monster[data-name="boss_chimera"] .char-dead-sw,
.monster[data-name="boss_chimera"] .char-dead-so,
.monster[data-name="boss_chimera"] .char-dead-no,
.monster[data-name="boss_chimera"] .char-dead-nw
{
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
	animation-fill-mode: forwards;
}



.monster[data-name="boss_chimera"] .char-wait-s,
.monster[data-name="boss_chimera"] .char-wait-sw,
.monster[data-name="boss_chimera"] .char-wait-so,
.monster[data-name="boss_chimera"] .char-wait-w
{
	animation-name: mob_boss_chimera_wait_s;
}

@keyframes mob_boss_chimera_wait_s
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
	16.67% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -0)	}
	33.33% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -0)	}
	50% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -0)	}
	66.67% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -0)	}
	83.33% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -0)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
}

.monster[data-name="boss_chimera"] .char-wait-n,
.monster[data-name="boss_chimera"] .char-wait-nw,
.monster[data-name="boss_chimera"] .char-wait-no,
.monster[data-name="boss_chimera"] .char-wait-o
{
	animation-name: mob_boss_chimera_wait_n;
}

@keyframes mob_boss_chimera_wait_n
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
	16.67% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -1)	}
	33.33% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -1)	}
	50% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -1)	}
	66.67% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -1)	}
	83.33% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -1)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -1)	}
}

.monster[data-name="boss_chimera"] .char-walk-s,
.monster[data-name="boss_chimera"] .char-walk-sw,
.monster[data-name="boss_chimera"] .char-walk-so,
.monster[data-name="boss_chimera"] .char-walk-w
{
	animation-name: mob_boss_chimera_walk_s;
}

@keyframes mob_boss_chimera_walk_s
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -2)	}
	12.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -2)	}
	25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -2)	}
	37.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -2)	}
	50% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -2)	}
	62.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -2)	}
	75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -2)	}
	87.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 7)) * -1 )   	calc(240px * -2)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -2)	}
}

.monster[data-name="boss_chimera"] .char-walk-n,
.monster[data-name="boss_chimera"] .char-walk-nw,
.monster[data-name="boss_chimera"] .char-walk-no,
.monster[data-name="boss_chimera"] .char-walk-o
{
	animation-name: mob_boss_chimera_walk_n;
}

@keyframes mob_boss_chimera_walk_n
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -3)	}
	12.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -3)	}
	25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -3)	}
	37.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -3)	}
	50% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -3)	}
	62.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -3)	}
	75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -3)	}
	87.5% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 7)) * -1 )   	calc(240px * -3)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -3)	}
}

.monster[data-name="boss_chimera"] .char-attack-s,
.monster[data-name="boss_chimera"] .char-attack-sw,
.monster[data-name="boss_chimera"] .char-attack-so,
.monster[data-name="boss_chimera"] .char-attack-w
{
	animation-name: mob_boss_chimera_attack_s;
}

@keyframes mob_boss_chimera_attack_s
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -4)	}
	14.29% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -4)	}
	28.57% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -4)	}
	42.86% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -4)	}
	57.14% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -4)	}
	71.43% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -4)	}
	85.71% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -4)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -4)	}
}

.monster[data-name="boss_chimera"] .char-attack-n,
.monster[data-name="boss_chimera"] .char-attack-nw,
.monster[data-name="boss_chimera"] .char-attack-no,
.monster[data-name="boss_chimera"] .char-attack-o
{
	animation-name: mob_boss_chimera_attack_n;
}

@keyframes mob_boss_chimera_attack_n
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -5)	}
	14.29% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -5)	}
	28.57% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -5)	}
	42.86% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -5)	}
	57.14% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 4)) * -1 )   	calc(240px * -5)	}
	71.43% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 5)) * -1 )   	calc(240px * -5)	}
	85.71% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 6)) * -1 )   	calc(240px * -5)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -5)	}
}

.monster[data-name="boss_chimera"] .char-dead-s,
.monster[data-name="boss_chimera"] .char-dead-sw,
.monster[data-name="boss_chimera"] .char-dead-so,
.monster[data-name="boss_chimera"] .char-dead-w
{
	animation-name: mob_boss_chimera_dead_s;
}

@keyframes mob_boss_chimera_dead_s
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -6)	}
	25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -6)	}
	50% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -6)	}
	75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -6)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -6)	}
}

.monster[data-name="boss_chimera"] .char-dead-n,
.monster[data-name="boss_chimera"] .char-dead-nw,
.monster[data-name="boss_chimera"] .char-dead-no,
.monster[data-name="boss_chimera"] .char-dead-o
{
	animation-name: mob_boss_chimera_dead_n;
}

@keyframes mob_boss_chimera_dead_n
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -7)	}
	25% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 1)) * -1 )   	calc(240px * -7)	}
	50% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 2)) * -1 )   	calc(240px * -7)	}
	75% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -7)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 3)) * -1 )   	calc(240px * -7)	}
}
