
.monster[data-name="prisoner"] sprite
{
	background-image: url('/mobs/tileset_prisoner_240x240.png');
}


.monster[data-name="prisoner"] .char-dead-s,
.monster[data-name="prisoner"] .char-dead-o,
.monster[data-name="prisoner"] .char-dead-w,
.monster[data-name="prisoner"] .char-dead-n,
.monster[data-name="prisoner"] .char-dead-sw,
.monster[data-name="prisoner"] .char-dead-so,
.monster[data-name="prisoner"] .char-dead-no,
.monster[data-name="prisoner"] .char-dead-nw
{
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
	animation-fill-mode: forwards;
}



.monster[data-name="prisoner"] .char-wait-s,
.monster[data-name="prisoner"] .char-wait-sw,
.monster[data-name="prisoner"] .char-wait-so,
.monster[data-name="prisoner"] .char-wait-w
{
	animation-name: mob_prisoner_wait_s;
}

@keyframes mob_prisoner_wait_s
{
	0% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
	100% 	{ background-position: calc(((240px * (8 * 0)) + (240px * 0)) * -1 )   	calc(240px * -0)	}
}
