<script lang="ts">

    import { onMount } from 'svelte';

    import Client, {getCookie} from "./Client";
    import {myPlayername, totalLobbys, totalPlayers} from "./store";
    import Game from "./Game";

	let myGame: Game;
	let myClient: Client;

    onMount(() => {
        $myPlayername = getCookie("playername");

        myClient = new Client()
	    myGame = new Game(myClient.socket)

        setTimeout(function()
        {
            // TODO: sound erst nach dem login
            //let audio_background = <HTMLAudioElement> document.getElementById("audio_background");
            //audio_background.play();
        }, 1000);
    });

    let map = document.getElementById('map');
    let camera = document.getElementById('camera');
    let messages = document.getElementById('messages');
    let form = document.getElementById('form');
    let input = document.getElementById('input');
    let login = document.getElementById('login');
    let input_playername = document.getElementById('input_playername');
    let lobby = document.getElementById('lobby');
    let clients = document.getElementById('clients');
    let game_start = document.getElementById('game_start');
    let game_over = document.getElementById('game_over');
    let gameid = document.getElementById('gameid');
</script>

<main>

	<div id="game">
		<div id="camera">
			<div id="map">

				<div class="objects">
					<!-- auto generiert vom server über map datei -->
				</div>

				<div class="skills">
				</div>

				<div id="highlighter"></div>
			</div>

			<div id="player_1">
				<div>Player <span class="playerid">1</span>: <span class="playername"></span></div>
				<div>Time: <span class="time"></span></div>
				<div>Round: <span class="round"></span></div>
				<div>Phase: <span class="phase"></span></div>
				<div>Money: <span class="money"></span>g</div>
			</div>

			<div id="player_2">
				<div>Player <span class="playerid">2</span>: <span class="playername"></span></div>
				<div>Time: <span class="time"></span></div>
				<div>Round: <span class="round"></span></div>
				<div>Phase: <span class="phase"></span></div>
				<div>Money: <span class="money"></span>g</div>
			</div>

			<button class="switch"> Switch View </button>
			<button class="fullscreen"> Fullscreen </button>
		</div>

		<div id="lobby">
			<h1>Laneheroes</h1>
			<div>
				<b>Player:</b>
				<ul id="clients"></ul>

				<hr />
				Gameid - Link kopieren:
				<input id="gameid" value="" readonly style="width: 100%; display: block" />
				<div class="clear"></div>

				<hr />
				<b>Modus:</b>
				<div class="row">
					<div class="col-lg-6">
						<button id="singleplayer" class="w-100" value="singleplayer">Singleplayer</button>
					</div>
					<div class="col-lg-6">
						<button id="multiplayer" class="w-100" value="multiplayer" disabled>Multiplayer</button>
					</div>

				</div>
			</div>

		</div>

		<div id="game_start">
			<h1>Laneheroes</h1>
			<form id="login">

				<div class="monster" data-name="mummy" id="">
					<sprite id="mummy" class="char-wait-so"></sprite>
				</div>

				<div class="monster" data-name="spore" style="margin: -95px 0 0 288px">
					<sprite id="spore" class="char-wait-s"></sprite>
				</div>

				<div class="monster" data-name="boss_orchero" style="left: auto; right: 0; transform: scale(1.5);">
					<sprite id="orchero" class="char-wait-s"></sprite>
				</div>

				<div class="formrow">
					<input id="input_playername" value="" placeholder="Player Name" />
					<button type="submit">Login</button>
				</div>
				<div class="clear"></div>
			</form>
		</div>

		<div id="game_over">
			<h1>GAME OVER</h1>
		</div>
	</div>

	<ul id="messages"></ul>
	<form id="form" action="">
		<input id="input" autocomplete="off"/>
		<button>Send</button>
	</form>

	<footer>
		<span>Players total: <span id="players_total">
			{ $totalPlayers }
		</span></span> |
		<span>Lobbies total: <span id="lobbies_total">
			{ $totalLobbys }
		</span></span>

		<div style="position: absolute; right: 0; bottom: 0; padding: 1rem">
			<div style="display: flex; flex-direction: column">
				<button on:click={ () => myGame.increaseZoom() } >Zoom +</button>
				<button on:click={ () => myGame.decreaseZoom() } >Zoom -</button>
				<button on:click={ () => myGame.rotateCamera() } >Rotate +</button>
				<button on:click={ () => myGame.derotateCamera() } >Rotate -</button>
			</div>

		</div>
	</footer>

	<iframe src="/audio/silence.mp3" type="audio/mp3" allow="autoplay" id="audio" style="display:none"></iframe>
	<audio loop id="audio_background">
		<source src="/audio/270366__foolboymedia__dramatic-scroller.wav" />
	</audio>


</main>